@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gold: #AD823B;
  --silver: #c0c0c0;
}

body {
  background: linear-gradient(to bottom, #404040, #121212);
}

.social-logo {
  width: 15px;
  color: var(--gold);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
